# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
*.log.*

# Database
db.json

# Build output
dist/
build/

# Environment variables
.env
